@{
    // Retrieve the data from ViewBag or ViewData
    //var moduleNames = ViewBag.ModuleNames as List<dynamic>;
    // or
    //var moduleNames = ViewData["ModuleNames"] as List<dynamic>;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["MTitle"] - PTLRealERP</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
    <link rel="stylesheet" href="~/PTLRealERP.styles.css" asp-append-version="true" />

    <!-- Boxiocns CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        } 
    </style>
</head>
<body style="background: #f0f2f5;">
    <section class="home-section">
        <div class="home-content">
           
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>       
        </div>
    </section>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        $(document).ready(function () {
            //$('.chzn-select').chosen({ search_contains: true });
            $(window).load(function () {
                $(".chosen-select").chosen()
            });

            $(".chosen-select").chosen();
        });
        
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
