@using Newtonsoft.Json;
@{
    // Retrieve the data from ViewBag or ViewData
    //var moduleNames = ViewBag.ModuleNames as List<dynamic>;
    // or
    //var moduleNames = ViewData["ModuleNames"] as List<dynamic>;
   // var interfaceNames = ViewData["InterfaceNames"] as List<dynamic>;
    //var moduleNames = JsonConvert.DeserializeObject<List<dynamic>>(HttpContext.Session.GetString("ModuleNames"));
    //var interfaceNames = JsonConvert.DeserializeObject<List<dynamic>>(HttpContext.Session.GetString("InterfaceNames"));
    
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["MTitle"] - PTLRealERP</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PTLRealERP.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/toastr.min.css" rel="stylesheet" />
    
    <!-- Boxiocns CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        function showContent(msg) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](msg);
        };
        function showContentFail(msg) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](msg);
        };
    </script>
     <style>
        
     </style>
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PTLRealERP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>*@
    <div class="sidebar close">
        <div class="logo-details">
            <i class="bx bx-menu BxMenu"></i>
            <span class="logo_name">Home</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-file-blank'></i>
                        <span class="link_name">Module</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu" id="module">
                    <li style="position: sticky; top: 0; z-index: 1; background-color: #1d1b31; "><a class="link_name" href="#">Module</a></li>

              @*       @if (moduleNames != null && moduleNames.Count > 0)
                    {
                       @foreach (var m in moduleNames)
                       {
                            <li><a href="#">@m.modulename</a></li>
                       }
                    } *@
                    @*<li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>*@
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-file-blank'></i>
                        <span class="link_name">Interface</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu " id="interface">
                    <li style="position: sticky; top: 0; z-index: 1; background-color: #1d1b31; "><a class="link_name" href="#">Interface</a></li>

                   @*  @if (interfaceNames != null && interfaceNames.Count > 0)
                    {
                        @foreach (var m in interfaceNames)
                        {
                            <li><a href="#">@m.interfacename</a></li>
                        }
                    } *@
                    @*<li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>*@
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-grid-alt"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Category</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-collection"></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-book-alt"></i>
                        <span class="link_name">Posts</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Posts</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="link_name">Analytics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-line-chart"></i>
                    <span class="link_name">Chart</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Chart</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-plug"></i>
                        <span class="link_name">Plugins</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Plugins</a></li>
                    <li><a href="#">UI Face</a></li>
                    <li><a href="#">Pigments</a></li>
                    <li><a href="#">Box Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-compass"></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-history"></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            
            <li>
                <partial name="_LoginStatusPartial" />
               @*  <div class="profile-details">
                    <div class="profile-content">
                        <img src="~/Images/Comp_Logo/3101.jpg" class="BxMenu" alt="Logo" />
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Prem Shahi</div>
                        <div class="job">Web Desginer</div>
                    </div>
                    <a asp-page="/Account/Logout"><i class="bx bx-log-out"></i></a>
                </div> *@
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-dark" href="#">Navbar</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-dark" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark"
                                   href="#" 
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <select class="form-select me-2" style="width: 100px !important" aria-label="Default select example">
                            <!-- <option selected>Open this select menu</option> -->
                            <option value="1" selected>PDF</option>
                            <option value="2">HTML</option>
                            <option value="3">WORD</option>
                            <option value="3">EXCEL</option>
                        </select>
                        <button class="btn btn-success me-2" type="submit" id="printButton"> <i class="bx bx-printer"></i> </button>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2"
                                   type="search"
                                   placeholder="Search"
                                   aria-label="Search" />
                            <button class="btn btn-outline-success" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            @* <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - PTLRealERP - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer> *@

            <footer class="footer bg-dark" >
                <div class="container py-3">
                    <span class="text-light">Bootstrap 4 fixed footer content here.</span>
                </div>
            </footer>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".iocn-link").click(function () {
                var arrowParent = $(this).parent();
                arrowParent.toggleClass("showMenu");

                $(".iocn-link").not(this).parent().removeClass("showMenu");
            });

            let sidebar = $(".sidebar");
            let sidebarBtn = $(".BxMenu");
            console.log(sidebarBtn);

            sidebarBtn.click(function () {
                sidebar.toggleClass("close");
            });

            $(document).on("click", function (e) {
                var sidebarContent = $(".sidebar .nav-links");

                // Check if the click event target is not part of the sidebar and the sidebar button
                if (!sidebar.is(e.target) && sidebar.has(e.target).length === 0 && !sidebarBtn.is(e.target) && sidebarContent.has(e.target).length === 0) {
                    sidebar.addClass("close");
                }
            });
            //$('.chzn-select').chosen({ search_contains: true });
            $.ajax({
                type: "GET",
                url: "/api/Masterpage/ModuleData", // Replace with the actual API endpoint
                dataType: "json",
                success: function (data) {
                    let ul = $("#module"); // Get the <ul> element
                    $.each(data.data, function (index, module) {
                        let li = '<li><a href="/StepofOperationNew?Type=' + module.moduleid + '">' + module.modulename + '</a></li>';
                        ul.append(li);
                    });
                },
                error: function () {
                    // Handle errors if the AJAX request fails
                    $("#result").html("Failed to fetch data.");
                }
            });
            $.ajax({
                type: "GET",
                url: "/api/Masterpage/InterfaceData", // Replace with the actual API endpoint
                dataType: "json",
                success: function (data) {
                    let ul = $("#interface"); // Get the <ul> element
                    $.each(data.data, function (index, interface) {
                        let li = '<li><a href="#">' + interface.interfacename + '</a></li>';
                        // Append the constructed list item to the <ul> element
                        ul.append(li);
                    });
                },
                error: function () {
                    // Handle errors if the AJAX request fails
                    $("#result").html("Failed to fetch data.");
                }
            });
        });

       

    </script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
