@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<div class="login-wrapper">
    <div class="login-content">
        <div class="login-userset">
            <div class="login-logo">
                <img src="~/assets/img/logo.png" alt="img" />
            </div>
            <div class="login-userheading">
                <h3>Forgot Password Confirmation.</h3>
                <h4>
                    An email with password reset instructions has been sent to your email address if it exists in our system. If you do not receive the email in a few minutes, please check your spam folder or try again.
                </h4>
            </div>
            <div class="form-login">
                <a class="btn btn-login" asp-action="Signin" asp-controller="Account">Back</a>              
            </div>
        </div>
    </div>
    <div class="login-img">
        <img src="~/assets/img/login.jpg" alt="img" />
    </div>
</div>