@using System.Security.Claims
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var username = isAuthenticated ? User.Identity.Name : "Guest";
    var userrole = isAuthenticated ? User.FindFirst(ClaimTypes.Role)?.Value : "Guest";
    var designationClaim = User.Claims.FirstOrDefault(c => c.Type == "Designation");
    var designation = designationClaim?.Value ?? "Designation";
    var imagePathClaim = User.Claims.FirstOrDefault(c => c.Type == "Image");
    var imagePath = imagePathClaim?.Value ?? "/userimages/profile.png"; // Set the default image path
}
<a href="javascript:void(0);"
   class="dropdown-toggle nav-link userset"
   data-bs-toggle="dropdown">
    <span class="user-img">
        <img src="@imagePath" alt="" />
        <span class="status online"></span>
    </span>
</a>
<div class="dropdown-menu menu-drop-user">
    <div class="profilename">
        <div class="profileset">
            <span class="user-img">
                <img src="@imagePath" alt="" />
                <span class="status online"></span>
            </span>
            <div class="profilesets">
                <h6>@username</h6>
                <h5>@userrole</h5>
            </div>
        </div>
        <hr class="m-0" />
        <a class="dropdown-item" href="profile.html">
            <i class="me-2" data-feather="user"></i> My Profile
        </a>
        <a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
        <hr class="m-0" />
        <a class="dropdown-item logout pb-0" asp-action="Logout" asp-controller="Account">
            <img src="~/assets/img/icons/log-out.svg"
                 class="me-2"
                 alt="img" />Logout
        </a>
    </div>
</div>