@model IEnumerable<Inventory.Models.Store>
@{
    ViewData["Title"] = "Store List";
}
<div class="content" id="FullBody">
    <div class="page-header">
        <div class="page-title">
            <h4>Store List</h4>
            <h6>Manage your Store</h6>
        </div>
        <div class="page-btn">
            <a asp-action="Create" asp-controller="Store" class="btn btn-added spa-link">
                <img src="~/assets/img/icons/plus.svg"
                     alt="img"
                     class="me-1" />Add Store
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="store_filter_search">
                            <img src="~/assets/img/icons/filter.svg" alt="img" />
                            <span>
                                <img src="~/assets/img/icons/closes.svg" alt="img" />
                            </span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/assets/img/icons/search-white.svg" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <a data-bs-toggle="tooltip" id="pdfButton"
                               data-bs-placement="top"
                               title="pdf">
                                <img src="~/assets/img/icons/pdf.svg" alt="img" />
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" id="excelButton"
                               data-bs-placement="top"
                               title="excel">
                                <img src="~/assets/img/icons/excel.svg" alt="img" />
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" id="mswordButton"
                               data-bs-placement="top"
                               title="print">
                                <img src="~/assets/img/icons/printer.svg" alt="img" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form id="filterForm" method="post">
                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input name="Name" type="text" id="storeName" placeholder="Enter Store Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input name="Phone" type="text" id="storePhoneNumber" placeholder="Enter Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input name="Code" type="text" id="storeCode" placeholder="Enter Code">
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-6 col-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-filters ms-auto">
                                                <img src="~/assets/img/icons/search-whites.svg" alt="img" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="table-responsive" id="storeList">
                @await Html.PartialAsync("_StoreList")
            </div>
        </div>
    </div>
</div>
<style>
    .ui-slider-horizontal {
        height: .6em;
    }

    .ui-slider-horizontal {
        margin-bottom: 15px;
        /* width: 100%; */
        margin-left: 10px;
        margin-right: 10px;
    }

    .ui-widget-header {
        background: #ff9f43;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#store_filter_search").on("click",function(){
                $('#filter_inputs').slideToggle("slow");
                $('#filter_search').toggleClass("setclose");
        });
        $('#storedatanew').on("click", ".edit_store", function() {
            var storeId = $(this).data("id");
            var url = '/Store/Edit/' + storeId;
            $.ajax({
                url: url, // GET action returning PartialView
                type: 'GET',
                success: function(result) {
                    // Replace __ProductList with Edit partial
                    $('#FullBody').html(result);
                    //window.history.pushState({ path: url }, "", url);
                    // Re-parse validation for the form
                    //$.validator.unobtrusive.parse("#storeList");
                },
                error: function() {
                    alert('Error loading edit form');
                }
            });
        });
        var updateMessage = '@TempData["UpdateMessage"]';
        if (updateMessage) {
            showContent(updateMessage);
        }
    });
</script>